body{
    margin:0;
   background-color : yellow;
   
   
   
}.bio{
text-align:center ;
}.bio{
text-align:center ;
background-color: blue ;

}img{
    margin-right:80%;
    width:120px;
    height:150px;
    border-radius:100px;
}audio{
width:300px ;
height:300px ;
}video{
   width:300px;
   height:300px ; 
   
   #datetime{
    text-align:center;   
   

}